#red{
position:absolute;
top:200px;
left:400px;
background:#FFFFFF;
color: #FF0000;

}
#orange{
position:absolute;
top:250px;
left:500px;
background:#FFFFFF;
color:#FFA500

}
#yellow{
position:absolute;
top:350px;
left:500px;
background:#FFFFFF;
color:#FFFF00

}
#green{
position:absolute;
top:400px;
left:400px;
background:#FFFFFF;
color:#008000

}
#blue{
position:absolute;
top:350px;
left:300px;
background:#FFFFFF;
color:#0000FF

}
#violet{
position:absolute;
top:250px;
left:300px;
background:#FFFFFF;
color:#8F5E99

}

#brown{
position:absolute;
top:300px;
left:400px;
background:#FFFFFF;
color:#8B6914

}
